Cliente_Tallas/xml-resources/web-service-references/Tallas/wsdl/localhost_8080/Api_Tallas_Conversor/Tallas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UDDI/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://UDDI/" name="Tallas">
<types>
<xsd:schema>
<xsd:import namespace="http://UDDI/" schemaLocation="http://localhost:8080/Api_Tallas_Conversor/Tallas?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="tallas_conversor">
<part name="parameters" element="tns:tallas_conversor"/>
</message>
<message name="tallas_conversorResponse">
<part name="parameters" element="tns:tallas_conversorResponse"/>
</message>
<message name="conversor_numeros">
<part name="parameters" element="tns:conversor_numeros"/>
</message>
<message name="conversor_numerosResponse">
<part name="parameters" element="tns:conversor_numerosResponse"/>
</message>
<portType name="Tallas">
<operation name="hello">
<input wsam:Action="http://UDDI/Tallas/helloRequest" message="tns:hello"/>
<output wsam:Action="http://UDDI/Tallas/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="tallas_conversor">
<input wsam:Action="http://UDDI/Tallas/tallas_conversorRequest" message="tns:tallas_conversor"/>
<output wsam:Action="http://UDDI/Tallas/tallas_conversorResponse" message="tns:tallas_conversorResponse"/>
</operation>
<operation name="conversor_numeros">
<input wsam:Action="http://UDDI/Tallas/conversor_numerosRequest" message="tns:conversor_numeros"/>
<output wsam:Action="http://UDDI/Tallas/conversor_numerosResponse" message="tns:conversor_numerosResponse"/>
</operation>
</portType>
<binding name="TallasPortBinding" type="tns:Tallas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tallas_conversor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversor_numeros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Tallas">
<port name="TallasPort" binding="tns:TallasPortBinding">
<soap:address location="http://localhost:8080/Api_Tallas_Conversor/Tallas"/>
</port>
</service>
</definitions>